.modal-container {
    display:none; 
    position: fixed; 
    width: 100%; 
    height: 100%;
    left: 0;
    top:0;
    background-color: #ffffff;
    z-index: 1;
  }
.modal{
    margin: auto auto;
    background-color: sandybrown;
    text-align: center;
    color:White;
    border-radius: 10px;
    border: 1px solid black;
}
.modal p{
    margin-top: 30px;
    padding: 30px;
}
.modalBtn{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
